rgb
txt
label
datasets
.bash_history
.cache/
.config/
.gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.local/
.ssh/
YOLO3D/data/daten
YOLO3D/eval
YOLO3D/debug_inputs
yolov5/data/daten
YOLO3D/weights
